<div class="page-header">
  <% if current_user.college_tennis == true %>
  <h1>
    My Players

  </h1>
    <% else %>
  <h1>
    My HitPartners
    <a href="/matches/new" class="btn btn-lg btn-success">New HitPartner</a>
  </h1>
    <% end %>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "matches_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :player_photo_cont, "User photo contains" %>
      <%= f.text_field :player_photo_cont, :class => "form-control", :placeholder => "User photo contains" %>
    </div>

<div class="form-group">
      <%= f.label :hitpartner_photo_cont, "User photo contains" %>
      <%= f.text_field :hitpartner_photo_cont, :class => "form-control", :placeholder => "User photo contains" %>
    </div>

<div class="form-group">
      <%= f.label :messages_body_cont, "Message body contains" %>
      <%= f.text_field :messages_body_cont, :class => "form-control", :placeholder => "Message body contains" %>
    </div>

<div class="form-group">
      <%= f.label :court_location_cont, "Court location contains" %>
      <%= f.text_field :court_location_cont, :class => "form-control", :placeholder => "Court location contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/matches" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#matches_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <% if current_user.college_tennis == true %>
          <th>Player</th>
        <% else %>
          <th>HitParter</th>
        <% end %>
        <th>Description</th>
        <th>Actions</th>
      </tr>


      <% @matches.each do |match| %>
      <%# if match.player_id == current_user.id %>
      <tr>

        <%if current_user.college_tennis == true %>
<!--  -->
        <td>
          <% if match.player.present? %>
            <a href="/users/<%= match.player.id %>"> <!-- why the fuck doesn't this work -->
              <%= match.player.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if match.player.present? %>

              <%= match.player.description %>

          <% end %>
        </td>

        <% else %>

        <td>
          <% if match.hitpartner.present? %>
            <a href="/users/<%= match.hitpartner.id %>">
              <%= match.hitpartner.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if match.hitpartner.present? %>

              <%= match.hitpartner.description %>
            </a>
          <% end %>
        </td>

        <% end  %>

        <td>
          <!-- <% if current_user.college_tennis == true %> -->
          <a href="/matches/<%= match.id %>" class="btn btn-primary">Show</a>
          <!-- <% else %> -->
          <!-- <a href="/matches/<%= match.id %>" class="btn btn-primary">Show</a>
          <% end %> -->
          <a href="/matches/<%= match.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_match/<%= match.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
      <%# end %>
    </table>
    <%= paginate @matches, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
