<!-- Validation failure messages -->
<% if @match.errors.any? %>
  <% @match.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Potential HitPartners near me</h3>
</div>

<table>
<% User.where(:college_tennis => true, :location => current_user.location).each do |user| %>
<tr>
  <td><%= user.name %></td>
  <td><img src="<%= user.photo %>"width="200" height="200"></td>
  <td><%= user.description %></td>
  <td>
    <form action="/create_match" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for player_id -->
      <div class="form-group">

        <input type="hidden" value="<%= current_user.id %>" name="player_id">

      </div>

      <!-- Label and input for hitpartner_id -->
      <input type="hidden" name="hitpartner_id" value="<%= user.id %>">



      <!-- Label and input for court_id -->
      <div class="form-group">
        <label for="court_id" class="control-label">
          Courts near me
        </label>

        <%= select_tag(:court_id, options_from_collection_for_select(Court.where(:location => current_user.location), :id, :name, @match.court_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Match
      </button>

    </form>
  </td>
</tr>
<% end %>
</table>
<a href="/matches">Cancel</a>
