<div class="page-header">
  <% if current_user.college_tennis == true %>
  <h3>Your player, <%= @match.player.name %></h3>
  <% else %>
  <h3>Your hitpartner, <%= @match.hitpartner.name %></h3>
  <% end %>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <% if current_user.college_tennis == true %>
      <img src="<%= @match.player.photo %>" width="200" height="200">
      <% else %>
      <img src="<%= @match.hitpartner.photo %>" width="200" height="200">
      <% end %>
    </div>
    <div class="col-md-8">
      <h4>Description</h4>
      <% if current_user.college_tennis == true %>
      <p><%= @match.player.description %></p>
      <% else %>
      <p><%= @match.hitpartner.description %></p>
      <% end %>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">


      <% if current_user.college_tennis == true %>
      <dt>Player</dt>
      <dd>
        <a href="/users/<%= @match.player_id %>">
          <%= @match.player.name %>
        </a>
        <% else %>
        <dt>Hitpartner</dt>
        <a href="/users/<%= @match.hitpartner_id %>">
          <%= @match.hitpartner.name %>
        </a>
        <% end %>


        <!--
        <% if @match.hitpartner.present? %>
          <a href="/users/<%= @match.hitpartner_id %>">
            <%= @match.hitpartner.name %>
          </a> -->
        <% end %>
      </dd>



          <!-- <a href="/courts/<%= @match.court_id %>"> -->



      <dt>Court</dt>
      <dd>
        <% if @match.court.present? %>
          <a href="/courts/<%= @match.court_id %>">
            <%= @match.court.location %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/matches" class="btn btn-primary">
        Back
      </a>
      <a href="/matches/<%= @match.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_match/<%= @match.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Match has many messages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Messages
      </li>

      <% @match.messages.each do |message| %>
        <li class="list-group-item">
          <div>
            <label>
              Sent by:
            </label>
            <%= message.user.name %>  (<%= message.created_at %>)
          </div>

          <!-- <a href="/messages/<%= message.id %>"> -->
            <%= message.body %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <!-- <a href="/messages/<%= message.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/messages/<%= message.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a> -->
            <a href="/delete_message/<%= message.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_message" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="">
      </div>

      <!-- Label and input for match_id -->
      <input type="hidden" name="match_id" value="<%= @match.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Message
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
